@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,
html {
    font-family: var(--font-family-sans-serif);
}

#container {
    max-width: 87vw;
    height: auto;
    margin: auto;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 89vw;
    align-items: flex-start;
    margin-top: 30px;
}

ul.filter-games {
    display: grid;
}

.filter-games li {
    width: 229px;
    border-radius: 3px;
    background-color: var(--gray);
}

.filter-games li.filter {
    background-color: var(--gray-dark);
    padding-bottom: 20px;
}

.filter-games li>span {
    display: inline-block;
    width: 43px;
    transform: translate(21px, 15px);
    height: 41px;
    border-radius: 50%;
    background-color: var(--light);
}

.filter-games li>span>p {
    position: relative;
    top: -23px;
    left: 57px;
    color: var(--light);
}

li img {
    transform: translate(7px, 5px);
    width: 27px;
}

.filter img {
    transform: translate(5px, 4px);
    width: 33px;
}

.filter-2 {

    padding-bottom: 23px;
}

.filter-3 img {
    transform: translate(5px, 11px);
    width: 33px;
}

.filter-3 {
    padding-bottom: 35px;
}

.filter-3 p {
    transform: translate(0px, 10px);
}

.filter-4 {

    padding-bottom: 23px;
}

aside {
    min-width: 65vw;
    margin: auto;
    display: grid;
}

.imovel,
.studio {
    background-color: #8080801c;
    padding: 10px;
    height: 379px;
}

.imovel img,
.studio img {
    display: block;
    float: left;
    width: 376px;
    /* height: 349px; */
    position: relative;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    top: -9px;
    left: -8px;
}

.imovel h1,
.studio h1 {
    padding: 20px;
    transform: translate(23px, 0px);
}

.imovel h5,
.studio h5 {
    transform: translate(25px, 10px);
}

.imovel p,
.studio p {
    transform: translate(28px, 29px);
    margin-top: 10px;
    padding: 9px;
}

.studio {
    margin-top: 15px;
}

span.dt {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
}

.dt img {
    transform: translate(23px, 30px);
}