@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body,
html {
    background-color: var(--white);
}

header {
    max-width: 100vw;
}

nav#nav-bar {
    min-width: 56vw;
    box-shadow: 0px -1px 3px var(--dark);
    background-image: linear-gradient(1deg, beige, white);
}

span.logo {
    display: inline-block;
    position: relative;
    top: 20px;
    left: 2vw;
}

ul {
    list-style: none;
    background: var(--light);
    display: flex;
    justify-content: center;
    margin-top: -15px;
    flex-direction: row;
    flex-wrap: wrap;
}

ul li {
    display: flex;
    /* position: relative; */
    align-items: center;
    flex-direction: column;
}

ul li a {
    display: block;
    padding: 20px 15px;
    color: #FFF;
    text-decoration: none;
    height: 62px;
    font-size: 18px;
}

ul li ul.dropdown li {
    display: block;
    
}

ul li ul.dropdown {
    /* width: 90%; */
    background: var(--gray-dark);
    top: 79px;
    position: absolute;
    z-index: 1;
    display: none;
}

ul li a:hover {
    background: var(--white);
    /* height: 50px; */
}

ul li:hover ul.dropdown {
    display: block;
}


#nav-bar a {
    font-family: var(--font-family-monospace);
    color: var(--gray);
    text-decoration: none;
    text-transform: capitalize;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}