@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,
html {
    background-color: var(--white);
}

@media screen and (min-width: 1200px) {

    /* Container */
    main#container {
        margin: auto;
        width: 100vw;
        height: 100vh;
        margin-top: 0em;
    }

    /* Seção sobre-nós */
    section.sobre-nos {
        display: flex;
        margin: auto;
        width: 100vw;
        min-height: 27em;
        background-color: var(--warning);
        align-content: flex-start;
        justify-items: start;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .sobre-nos h1 {
        text-transform: capitalize;
        font-size: 2.4em;
        color: var(--white);
        transform: translate(5em, 0px);
    }

    .sobre-nos p {
        display: inline-block;
        max-width: 43vw;
        color: var(--gray-dark);
        line-height: 1.8em;
        transform: translate(13em, 0px);
    }

    .sobre-nos>button {
        background-color: #000000;
        color: var(--white);
        border: 0px;
        border-radius: 3px;
        padding: 12px;
    }

    #container>div {
        position: absolute;
        top: 125px;
        left: 62vw;
    }

    #container>div img {
        max-width: 330px;
    }

    /* Nossos Serviços */
    article {
        background-color: var(--white);
        margin: auto;
        margin-top: 0em;
        width: 100vw;
        height: 32em;
        display: grid;
        justify-items: center;
        justify-content: space-around;
        align-items: center;
        align-content: space-evenly;
    }

    article img {
        max-width: 50px;
    }

    article>h1 {
        text-align: center;
        text-transform: capitalize;
        font-family: var(--font-family-sans-serif);
        font-size: 2em;
    }

    p.externo {
        text-align: center;
    }

    ol {
        display: flex;
        max-width: 78vw;
        height: 18em;
        justify-items: start;
        transform: translate(-141px, 20px);
        align-items: baseline;
        flex-direction: row;
    }

    ol li {
        text-align: center;
        list-style: none;
        transform: translate(116px, 10px);
    }

    ol li>img {
        position: relative;
        left: 4vw;
    }

    .one-h {
        position: relative;
        left: 4vw;
        font-size: 18px;
        top: 12px;
    }

    p.rotulo-1 {
        position: relative;
        top: 5em;
        text-align: start;
    }

    button.mais-conteudo-1 {
        background-color: var(--yellow);
        color: var(--white);
        border: 0px;
        border-radius: 3px;
        width: 85px;
        transform: translate(-12vw, 20em);
        position: absolute;
        padding: 10px;
    }

    ol h2 {
        position: relative;
        right: -3em;
        font-size: 18px;
        top: 10px;
    }

    p.rotulo-2 {
        position: relative;
        top: 5em;
        text-align: start;
    }

    button.mais-conteudo-2 {
        background-color: var(--yellow);
        color: var(--white);
        border: 0px;
        border-radius: 3px;
        position: absolute;
        width: 85px;
        transform: translate(-11vw, 20em);
        padding: 10px;
    }

    p.rotulo-3 {
        position: relative;
        top: 5em;
        text-align: start;
    }

    button.mais-conteudo-3 {
        background-color: var(--yellow);
        color: var(--white);
        border: 0px;
        border-radius: 3px;
        position: absolute;
        width: 85px;
        transform: translate(-12vw, 20em);
        padding: 10px;
    }

    p.rotulo-4 {
        position: relative;
        top: 5em;
        text-align: start;
    }

    button.mais-conteudo-4 {
        background-color: var(--yellow);
        color: var(--white);
        border: 0px;
        border-radius: 3px;
        transform: translate(-12vw, 20em);
        position: absolute;
        padding: 10px;
        width: 85px;
        height: 35px;
    }

    /* Seção de processo geral */
    aside {
        width: 100vw;
        background-color: var(--white);
        margin: auto;
        position: absolute;
        top: 72em;
    }

    aside h1 {
        text-align: center;
        font-family: var(--font-family-monospace);
        text-transform: capitalize;
        font-size: 1.4em;
    }

    aside p {
        padding: 60px 0px 60px 0px;
        text-align: center;
    }

    /* Processos de busca */
    .processos {
        width: 95vw;
        height: 70vh;
        margin: auto;
        display: block;
    }

    .busca-1,
    .busca-2,
    .busca-3,
    .busca-4 {
        display: grid;
        justify-content: space-between;
        justify-items: center;
    }

    .busca-1 img,
    .busca-2 img,
    .busca-3 img,
    .busca-4 img {
        max-width: 330px;
    }

    .busca-1 img {
        transform: translate(5em, 10px);
    }

    .busca-1 h2 {
        text-align: end;
        position: relative;
        top: -8em;
        right: -28vw;
    }

    .busca-1 p {
        text-align: start;
        transform: translate(31vw, -235px);
        width: 44vw;
        position: relative;
        top: 0vw;
        right: -15vw;
    }

    .busca-2 img {
        transform: translate(37vw, -74px);
    }

    .busca-2 h2 {
        position: relative;
        top: -10em;
        left: 15vw;
    }

    .busca-2 p {
        text-align: right;
        transform: translate(31vw, -277px);
        width: 45vw;
        position: relative;
        top: 0vw;
        left: -34vw;
    }

    .busca-3 img {
        transform: translate(2vw, -181px);
    }

    .busca-3 h2 {
        position: relative;
        top: -15em;
        left: 28vw;
    }

    .busca-3 p {
        text-align: start;
        transform: translate(38vw, -397px);
        width: 44vw;
        position: relative;
        top: 0vw;
        right: -8vw;
    }

    .busca-4 {
        margin: auto;
        max-width: 24vw;
    }

    .busca-4 img {
        transform: translate(4vw, -19em);
        display: inline-block;
    }

    .busca-4 h2 {
        position: relative;
        top: -20em;
        right: 20vw;
    }

    .busca-4 p {
        text-align: right;
        transform: translate(13vw, -523px);
        position: relative;
        width: 41vw;
        top: 0vw;
        right: 49vw;
    }

    /* Seção de acesso dos usúarios */
    .user {
        width: 70vw;
        margin: auto;
        background-color: var(--white);
        transform: translate(0px, 110em);
    }

    .user h1 {
        text-align: center;
    }

    p.previa {
        text-align: center;
        padding-top: 15px;
    }

    #numbers {
        display: grid;
        justify-content: center;
        justify-items: center;
        border: 1px solid var(--primary);
        margin: 15px 0px 0px 5px;
        position: relative;
        top: 58px;
        left: 10vw;
        max-width: 160px;
        padding: 10px;
    }

    .number-1 {
        transform: translate(-38px, 0px);
    }

    .number-2 {
        transform: translate(12vw, -79px);
    }

    .number-3 {
        transform: translate(27vw, -158px);
    }

    .number-4 {
        transform: translate(42vw, -236px);
    }

    p.aumento {
        color: var(--primary);
        font-size: 1.3em;
    }

    /* Seção de jogadores e equipes */
    .players-team {
        position: relative;
        top: 110em;
        margin: auto;
        max-width: 50vw;
    }

    .players-team a>img {
        width: 360px;
    }

    .players-team h1 {
        text-align: center;
    }

    p.text-player {
        text-align: center;
        padding-top: 40px;
    }

    div.time-1,
    div.time-2 {
        display: inline-block;
        max-width: 366px;
        max-height: 421px;
        margin-top: 6em;
    }

    div.time-1 {
        transform: translate(-2em, 0px);
        border-style: solid;
        border-color: var(--yellow);
    }

    div.time-2 {
        position: absolute;
        border-style: solid;
        border-color: var(--yellow);
    }

    .time-1 h2,
    .time-2 h2 {
        padding: 20px 0px 10px 0px;
        text-align: center;
    }

    .time-1 p,
    .time-2 p {
        margin: 5px;
        line-height: 1.3em;
        padding-left: 6px;
    }

    /* Seção Blog */
    section.blog {
        display: block;
        position: relative;
        top: 1944px;
        margin: auto;
        max-width: 100vw;
        padding: 10em;
    }

    .blog aside {
        background-color: #ffc107;
        position: absolute;
        top: 0vw;
        height: 20em;
        width: 100vw;
        margin: auto;
        transform: translate(-162px, 0px);
    }

    .blog h1 {
        text-align: center;
        color: var(--light);
        font-size: 2em;
        padding-top: 32px;
    }

    .blog h4 {
        text-align: center;
        padding: 10px 0px 15px 0px;
        color: var(--light);
    }

    .blog p {
        text-align: start;
        margin: 5px;
        color: var(--light);
        line-height: 1.4em;
        max-width: 82vw;
        position: relative;
        top: -58px;
        left: 98px;
    }

    .blog>aside>button.button-blog>a {
        text-decoration: none;
        color: var(--light);
    }

    button.button-blog {
        background-color: black;
        display: block;
        border: 0px;
        padding: 8px;
        width: 140px;
        margin: auto;
        border-radius: 2px;
        transform: translate(10px, -80px);
    }

    .button-blog:hover {
        cursor: pointer;
    }
}